<div xmlns:th="http://www.thymeleaf.org" th:fragment="top">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/article/index">首页</a>
            <a class="blog-nav-item" href="/article/add">写博客</a>
            <a class="blog-nav-item" href="/article/list">博客目录</a>
            <!--<a class="blog-nav-item " style="float: right;" href="/admin">后台管理</a>-->
            <a class="blog-nav-item " style="float: right;" href="/loginOut">退出登录</a>
        </nav>

    </div>
</div>