<div xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="top">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/article/index">首页</a>
            <a th:unless="${session.user==null}" class="blog-nav-item" href="/article/add">写博客</a>
            <a th:unless="${session.user==null}" class="blog-nav-item" th:href="@{/article/list(user=${session.user.id})}">博客目录</a>
            <a th:unless="${session.user==null}" shiro:hasRole="admin" class="blog-nav-item " style="float: right;" href="/admin">后台管理</a>
            <a th:unless="${session.user==null}" class="blog-nav-item " style="float: right;" href="/loginOut">退出登录</a>
            <a th:if="${session.user==null}" class="blog-nav-item " style="float: right;" href="/login">登录</a>
        </nav>

    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="topv2">
   <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- QQ互联登陆 -->
            <a href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a href="javascript:;" class="blog-user layui-hide">
                <!--<img src="../images/Absolutely.jpg" alt="Absolutely" title="Absolutely" />-->
            </a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item">
                    <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li th:unless="${session.user==null}" class="layui-nav-item ">
                    <a  th:href="@{/article/list(user=${session.user.id})}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <!--<li class="layui-nav-item">-->
                    <!--<a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>-->
                <!--</li>-->
                <li th:unless="${session.user==null}" class="layui-nav-item">
                    <a  href="/article/add"><i class="fa fa-file-text fa-fw"></i>&nbsp;写文章</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
</div>