<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn" style="height:100%;">
<head th:include="/blog/public/head::head">>

</head>
<body style="height:100%;">
<div class="blog-masthead" th:include="/blog/public/top::top"></div>

<div class="container-fluid">

    <div class="row">
        <form id="addArticle" class="col-md-12" th:object="${article}" action="/article/add" method="post">
            <input type="text" th:field="*{title}" id="blog-title" placeholder="标题" class="blog-title-edit"/>
            <span class="control-label" for="blog-title"
                  th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">
            </span>
            <input th:field="*{summary}" placeholder="摘要" class="blog-title-edit"/>
            <textarea name="content" id="content" rows="20" cols="100">
            </textarea>
            <div th:include="/blog/article_type/select :: select">

            </div>
            <!--<div class="col-md-4 col-md-offset-4 col-sm-offset-4">-->
            <!--<button type="button" class="btn btn-info col-md-4 btn-lg blog-btn" onclick="addArticle()">发布</button>-->
            <!--<button type="button" class="btn btn-info col-md-4 btn-lg blog-btn">预览</button>-->
            <!--</div>-->
            <input th:field="*{id}" type="hidden"/>
            <input th:field="*{type}" type="hidden"/>
            <input th:field="*{articleText}" type="hidden"/>
            <input name="userId" type="hidden" th:value="${session.user.id}"/>
            <input th:field="*{tag}" type="hidden"/>
            <input th:field="*{enjoy}" type="hidden"/>
            <input th:field="*{Hate}" type="hidden"/>
            <input th:field="*{status}" type="hidden"/>
        </form>
    </div>
</div>
<script>
    $(function () {
        CKEDITOR.replace('content');
        var data = $('input[name="articleText"]').val();
        CKEDITOR.instances.content.setData(data);
        CKEDITOR.instances.content.on("instanceReady", function () {
            this.addCommand("save", {
                    modes: {
                        wysiwyg: 1,
                        source: 1
                    },
                    exec: function () {
                        addArticle();
                    }
                }
            )
        })
    })
    function addArticle() {
        var data = CKEDITOR.instances.content.getData();
        $('input[name="articleText"]').val(data);

        if (data.toString().trim().length = 0) {
            layer.msg("写点什么吧");
            return;
        }
        $('#addArticle').ajaxSubmit(function (data) {
            layer.msg(data);
            if (data.indexOf("成功") != -1) {
                window.location.href = "/article/list?user="+$("input[name=userId]").val();
            }
        })
    }
    function addTypeFiled(thiz) {
        $('input[name="type"]').val($(thiz).val());
    }
    function addTypes() {
        $.get("/article/type/add", {}, function (data) {
            layer.open({
                type: 1,
                area: ['500px', '300px'],
                btn: ['确定'], //按钮
                yes: function (index, layero) {
                    $('#TypeSelect').load('/article/type/select')
                    layer.close(index);
                },
                content: data
            })
        })
    }
</script>
</body>
</html>