<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>博客</title>
    <div th:include="/blog/public/head::head"></div>
</head>
<body>

<div class="blog-masthead" th:include="/blog/public/top::top"></div>

<div class="container-fluid blog-article">
    <div class="row">
        <div class="col-sm-2  blog-sidebar" style="height: 100%">
            <div class="sidebar-module sidebar-module-inset">
                <h4>作者</h4>
                <p th:text="${user.userName}"></p>
                <input type="hidden" id="userId" th:value="${user.id}"/>
            </div>
            <div class="sidebar-module">
                <h4>目录</h4>
                <ul>
                    <li><a th:href="@{/article/articleByType(typeId=0,user=${user.id})}">默认</a>
                    </li>
                </ul>
                <ul class="" th:each="atype:${articleType}">
                    <li>
                        <a th:href="@{/article/articleByType(typeId=${atype.id})}" th:text="${atype.typeName}">目录</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.blog-sidebar -->

        <div class="col-sm-10 blog-main ">
            <div class="blog-header">
                <h1 class="blog-title" th:text="${article.title}">大标题</h1>
                <div style="float: right;" th:unless="${#strings.isEmpty(#strings.toString(session.user))}">
                    <a th:href="@{/article/add(id=${article.id})}"
                       th:unless="${ session.user.id !=article.userId}">编辑</a>
                    <a th:value="${article.id}"
                       abbr="/article"
                       th:unless="${session.user.id != article.userId}"
                       onclick="removeart(this)">删除</a>
                </div>
                <p class="lead blog-description" th:text="${article.summary}">描述描述描述描述描述描述描述描述描述描述</p>
                <p class="blog-post-meta" th:text="${article.articleDate}">January 1, 2014 by <a href="#">Mark</a></p>
            </div>
            <div class="blog-post panel panel-default">
                <div th:utext="${article.articleText}"></div>
                <div style="text-align: center">
                    <button class="btn btn-default btn-lg" th:onclick="'trial(1)'">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default btn-lg" th:onclick="'trial(0);'">
                        <div class="glyphicon  glyphicon-thumbs-down" aria-hidden="true"></div>
                    </button>
                    <input id="articleid" type="hidden" th:value="${article.id}"/>
                </div>
            </div>

        </div>
        <!-- /.blog-main -->
        <div class="col-sm-10 col-sm-offset-2  " style="clear: both">
            <div class="panel panel-default">
                <div class="panel-heading clo-sm-12">评论</div>
                <div id="oldComment" th:include="/blog/comment/comment :: comment"></div>
            </div>
        </div>
        <from th:unless="${session.user==null}" class="col-sm-9 col-sm-offset-2" style="clear: both" th:object="${comment}">
            <div id="comment" name="replace"></div>
            <button class="btn" onclick="commentArticle()">评论</button>
        </from>
        <div th:if="${session.user==null}" class="col-sm-9 col-sm-offset-2"><a href="/login">登录后才能评论</a></div>
    </div><!-- /.row -->
</div><!-- /.container -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        CKEDITOR.replace('comment', {
            customConfig: '/style/ckeditor/comment-config.js'
        })
    })

    function trial(i) {
        $.post("/article/trial", {article: $('#articleid').val(), trial: i});
    }
    function removeart(thiz) {
        layer.confirm('你确定要删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
        $.post($(thiz).attr("abbr") + '/delete', {id: $(thiz).attr("value")},
            function (data) {
                layer.msg(data, {time: 1000}, function () {
                    window.location.href = "/article/list?user=" + $("#userId").val();
                });
            })
        }, function(){
        });
    }
    function commentArticle() {
        var con = CKEDITOR.instances.comment.getData();
        if (con == null || con == "") {
            layer.msg("不能为空")
            return;
        }
        var thing = {cotent: con, articleId: $('#articleid').val()};
        $.post('/comment/add',
            {comment: $.toJSON(thing)}
            , function (data) {
                CKEDITOR.instances.comment.setData("");
                layer.msg(data)
                $('#oldComment').load("/comment/list", {id: $('#articleid').val()});
            })
    }
    /*]]>*/
</script>
</body>
</html>