<div  xmlns:th="http://www.thymeleaf.org" class="article shadow" th:each="article,iterStat:${pageImpl}">
    <div class="article-left">
        <!--<img src="../images/cover/201703181909057125.jpg" alt="基于laypage的layui扩展模块（pagesize.js）！" />-->
    </div>
    <div class="article-right">
        <div class="article-title">
            <a th:href="@{/article/details(id=${article.id})}" th:text="${article.title}">基于laypage的layui扩展模块（pagesize.js）！</a>
        </div>
        <div class="article-abstract" th:text="${#strings.length(article.summary)>100 ? #strings.substring(article.summary,0,100) : article.summary}">
            该模块主要是针对当前版本laypage没有页容量控制功能而制作，使用该模块后即可实现每页显示多少条数据的控制！本人原创，但是可能有可能只对本人的分页写法有用！
        </div>
    </div>
    <div class="clear"></div>
    <div class="article-footer">
        <span><i class="fa fa-clock-o" th:text="${#dates.format(article.articleDate,'yyyy-mm-dd')}"></i>&nbsp;&nbsp;</span>
        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;作者</span>
        <span><i class="fa fa-tag" th:text="${article.tag}"></i>&nbsp;&nbsp;标签</span>
        <span  class="article-viewinfo"><i class="fa fa-thumbs-o-up"  th:text="${article.enjoy}"></i>&nbsp;</span>
        <span class="article-viewinfo" ><i class="fa fa-thumbs-o-down" th:text="${article.Hate}"></i>&nbsp;</span>
    </div>
</div>
