<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>列表</title>
    <div th:include="/blog/public/head::head"></div>
    <div th:include="/blog/public/head::scroll"></div>
</head>
<body>
<div class="blog-masthead" th:include="/blog/public/top::topv2"></div>
<div class="container-fluid">
    <nav class="navbar navbar-default col-md-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li th:each="atype:${articleType}" style="border: solid #f7eef1 1px">
                <a th:href="@{/article/articleByType(typeId=${atype.id})}" th:text="${atype.typeName}">目录</a>
            </li>
        </ul>
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <input id="serch" type="text" class="form-control" placeholder="Search"/>
            </div>
            <button class="btn btn-default" onclick="serch()">搜索</button>
        </div>
    </nav>
    <div id="content">
        <div class="media col-md-12 blog-list-item " th:each="article,iterStat:${pageImpl}"
             th:onclick="'javascript:toDetial(\''+${article.id}+'\');'">
            <div class="media-body  media-middle blog-list-body ">
                <h1 class="media-heading" th:text="${article.title}">标题</h1>
                <p th:text="${#strings.length(article.summary)>100 ? #strings.substring(article.summary,0,100) : article.summary}">
                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                <div>
                    <span style="float: left" th:text="${article.articleDate}">时间作者</span>
                    <input th:if="${iterStat.index==0}" type="hidden" th:value="${article.userId}" id="userId"/>
                    <span style="float: right" th:text="${article.tag}">标签</span>
                </div>
            </div>
            <div class="media-right  media-middle  ">
                <div class="blog-list-icon">
                    <div class="glyphicon glyphicon-thumbs-up " aria-hidden="true" style="float: left"></div>
                    <span th:text="${article.enjoy}"></span>
                    <div class="glyphicon  glyphicon-thumbs-down " aria-hidden="true"></div>
                    <span th:text="${article.Hate}"></span>
                </div>
            </div>
        </div>
    </div>
    <!--<div onclick="extracted() " style="height: 20px; text-align:center">加载更多</div>-->
</div>
</body>
</html>