<table xmlns:th="http://www.thymeleaf.org" class="table table-striped table-bordered table-hover">
    <tbody xmlns:th="http://www.thymeleaf.org">
    <tr th:each="roles,iterStat : ${roles}">
        <td th:text="${iterStat.index+1}"></td>
        <td th:text="${roles.name}"></td>
        <td th:text="${roles.available}"></td>
        <td>
            <a th:onclick="'javascript:addPermission(\''+${roles.id}+'\');'">添加权限</a>|
            <a th:value="${roles.id}" th:onclick="'javascript:updateObj(\''+${roles.id}+'\');'">修改</a>|
            <a th:value="${roles.id}" onclick="removeobj(this);">删除</a>
        </td>
    </tr>
    </tbody>
</table>
