<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="public_page/head :: head">
    <title>添加</title>
</head>
<body>
<div>
    <div class="page-title">
        <div class="title_left">
            <h3>角色添加</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="user_info" action="/base/role/add"
                          data-result="user_info" role="form"
                          class="form-horizontal form-label-left" th:object="${role}" method="post">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">用户名 <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="username" th:field="*{name}"
                                       required="required"
                                       class="form-control col-md-7 col-xs-12"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="available">是否可用<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="radio-inline">
                                    <input type="radio" th:value="*{available}" id="available" value="true"/> 可用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" th:value="*{available}" value="false"/> 不可用
                                </label>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-offset-5">
                                <button type="button" class="btn btn-info" onclick="addSubmit('#user_info')">保存</button>
                            </div>
                        </div>
                        <input type="hidden" th:value="*{id}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>