<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="public_page/head :: head">
</head>
<body>
<!--<style type="text/css">html{background: #f3f3f3;}</style>-->
<div class="login_page">
    <img class="logo-login" th:src="@{/style/img/logo-login.png}" alt="logo"/>
    <h1>欢迎使用 Lz</h1>
    <form class="layui-form" th:object="${user}" action="/login" method="post">
        <div class="layui-form-item">
            <div class="layui-input-inline input-custom-width">
                <input type="text" name="username" lay-verify="required"
                       placeholder="用户名" autocomplete="off" class="layui-input" th:field="*{userName}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline input-custom-width">
                <input type="password" name="password" lay-verify="required"
                       placeholder="密码" autocomplete="off" class="layui-input"
                       th:field="*{passWord}"/>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <span style="color: #d9534f" for="userName" th:text="${message}"></span>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline input-custom-width">
              <button class="layui-btn input-custom-width" type="submit">立即登陆</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>